{% extends 'base.html' %}
{% load static i18n compress%}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}

<!-- ========== MAIN ========== -->
<main id="content" role="main">

    <!-- Hero Section -->
    <div class="position-relative">
      <div class="bg-img-hero" style="background-image: url({% static 'svg/components/abstract-shapes-12.svg'%});">
        <div class="container space-top-2 space-top-lg-1 position-relative z-index-2">
          <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-5 mb-md-9">
            {% if question %}
              <h1>{{ quiz.title }}</h1>
              <p>
               {% if progress %}
                {% trans "Question" %} {{ progress.0|add:1 }} {% trans "of" %} {{ progress.1 }}
                {% endif %}
              </p>
            {% endif %}
          </div>

        </div>
      </div>

      <!-- SVG Shape -->
      <figure class="position-absolute bottom-0 right-0 left-0">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
          <polygon fill="#fff" points="0,273 1921,273 1921,0 "/>
        </svg>
      </figure>
      <!-- End SVG Shape -->
    </div>
    <!-- End Hero Section -->

    <!-- Content -->
    <div class="container space-bottom-3">
      <div class="col-sm-12 col-md-10 mx-auto">

        {% if previous.answers %}

          <p class="muted"><small>{% trans "The previous question" %}:</small></p>
          <p>{{ previous.previous_question }}</p>

          {% if previous.previous_outcome %}
          <div class="alert alert-success">
          {% else %}
          <div class="alert alert-warning">
          {% endif %}
              <p><small>
            {% trans "Your answer was" %} </small>
            <strong>
              {{ previous.previous_outcome|yesno:"correct,incorrect" }}
            </strong>
            </p>

          </div>

          {% include 'correct_answer.html' %}

          <p><strong>{% trans "Explanation" %}:</strong></p>
          <div class="well " style="background-color: #fcf8e3;">
            <p>{{ previous.previous_question.explanation }}</p>
          </div>

          <hr>

        {% endif %}

    <br />

    {% if question %}

      <p>
        <small class="muted">{% trans "Question category" %}:</small>
        <strong>{{ question.category }}</strong>
      </p>

      <p class="lead">{{ question.content }}</p>

      {% if question.figure %}
          <img src="{{ question.figure.url }}" alt="{{ question.content }}" />
      {% endif %}

      <form action="" method="POST">{% csrf_token %}
        <input type=hidden name="question_id" value="{{ question.id }}">

        <ul class="list-group">

        {% for answer in form.answers %}
          <li class="list-group-item">
            {{ answer }}
          </li>
        {% endfor %}

        </ul>
        <input type="submit" value={% trans "Check" %} class="btn btn-large btn-block btn-warning" >
      </form>

    {% endif %}

      </div>
  </div>
</main>
{% endblock %}
