{% extends 'sitting_question_base.html' %}
{% load i18n %}

{% block tabcontent %}

  <div class="row">
    <div class="col">

    {% if question %}

      {% comment %} <p>
        <small class="muted">{% trans "Question category" %}:</small>
        <strong>{{ question.category }}</strong>
      </p> {% endcomment %}

      <p class="lead">{{ question.content|safe }}</p>

      {% if question.figure %}
          <img src="{{ question.figure.url }}" alt="{{ question.content|safe }}" />
      {% endif %}

      {% if  user_answer.answer  %}
        {% if sitting.mode == 'study' or sitting.complete is True %}
        
          {% if user_answer.is_correct %}
            <div class="alert alert-soft-success">
          {% else %}
            <div class="alert alert-soft-danger">
          {% endif %}
              <p>{% trans "Your answer was" %}
                <strong>
                  {{ user_answer.is_correct|yesno:"correct,incorrect" }}
                </strong>
              </p>
            </div>

            {% include 'correct_answer.html' %}

            <div class="row">
              {% if user_answer.order > 1 %}
              <div class="col">
                  {% with prev_question=user_answer.order|add:"-1" %}
                    <a class="btn btn-large btn-block btn-outline-secondary" href="{% url 'quiz:sitting_question' sitting.id prev_question %}">{% trans "Previous" %}</a>
                  {% endwith %}
              </div>
              {% endif %}
              {% if user_answer.order < nb_questions %}
              <div class="col">
                  {% with next_question=user_answer.order|add:"1" %}
                    <a class="btn btn-large btn-block btn-outline-secondary" href="{% url 'quiz:sitting_question' sitting.id next_question %}">{% trans "Next" %}</a>
                  {% endwith %}
              </div>
              {% endif %}
            </div>
        {% endif %}
      {% else %}

        <form action="" method="POST">{% csrf_token %}
          <input type=hidden name="question_id" value="{{ question.id }}">

          <ul class="list-group mb-4">

          {% for answer in form.answers %}
            <li class="list-group-item">
              {{ answer }}
            </li>
          {% endfor %}

          </ul>
          {% if sitting.mode == 'study' %}
            <input type="submit" value={% trans "Check" %} class="btn btn-large btn-block btn-outline-info" >
          {% else %}
            <input type="submit" value={% trans "Save" %} class="btn btn-large btn-block btn-outline-info" >
          {% endif %}
        </form>
      {% endif %}

    {% endif %}
  </div>
</div>
{% endblock %}
