{% extends 'app.html' %}
{% load static i18n compress%}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block page_title %}{{ quiz.title }} {% endblock %}
{% block page_subtitle %}
    {% trans "Question" %} {{ user_answer.order }} {% trans "of" %} {{ nb_questions }}
{% endblock %}

{% block inner %}
    <div class="container space-bottom-3">
      <div class="col-sm-12 col-md-10 mx-auto">

      <div class="row space-bottom-1">

        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="d-flex flex-wrap">
            {% if sitting.mode == 'study' %}
              {% for item in score_list %}
                  <a class="nav-question {% if forloop.counter == user_answer.order %} nav-question__current {% endif %}{% if item.1 == 1 %}nav-question__success {% elif item.1 == 0 %} nav-question__failure {% endif %}" href="{% url 'quiz:sitting_question' sitting.id forloop.counter %}">{{ forloop.counter }}</a>
              {% endfor %}
            {% else %}
              {% for item in score_list %}
                  <a class="nav-question {% if forloop.counter == user_answer.order %} nav-question__current {% endif %}{% if item.1 == 1 or item.1 == 0 %}nav-question__answered {% endif %}" href="{% url 'quiz:sitting_question' sitting.id forloop.counter %}">{{ forloop.counter }}</a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 text-right">
          <button type="button" class="btn btn-ghost-danger" data-toggle="modal" data-target="#cancelSittingConfirm">{% trans "Cancel" %}</button>
          {% if nb_unanswered_questions == 0 %}
            <button type="button" class="btn btn-primary">{% trans "Finish" %}</button>
          {% else %}
            <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="{% trans "Answer all the questions to finish the test" %}" disabled>{% trans "Finish" %}</button>
          {% endif %}
        </div>
      </div>


      <div id="cancelSittingConfirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cancelSittingConfirm" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cancelSittingConfirmTitle">{% trans "Cancel this test?"%}</h5>
              <button type="button" class="btn btn-xs btn-icon btn-soft-secondary" data-dismiss="modal" aria-label="Close">
                <svg aria-hidden="true" width="10" height="10" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
                </svg>
              </button>
            </div>
            <div class="modal-body">
              <p>{% trans "Your progress will not be saved. Do you want to continue?" %}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal">Go back</button>
              <form action="{% url 'quiz:sitting_delete' sitting.id %}" method="POST">{% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, cancel quiz</button>
              </form>
            </div>
          </div>
        </div>
      </div>


      {% if sitting.mode == 'study' %}
        <div class="row space-bottom-1">
          <!-- Tabs -->
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link {% if active_tab == 'question' %}active{% endif %}" href="{% url 'quiz:sitting_question' sitting.id user_answer.order %}">Question</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active_tab == 'explanation' %}active{% endif %}" href="{% url 'quiz:sitting_question_explanation' sitting.id user_answer.order %}">Explanation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active_tab == 'comments' %}active{% endif %}" href="#">{% trans "Comments" %}</a>
            </li>
          </ul>
          <!-- End tabs -->
        </div>
      {% endif %}

      {% block tabcontent %}

      {% endblock %}
    </div>
    </div>

{% endblock %}
