{% extends 'app.html' %}
{% load i18n %}
{% block title %}{% trans "Quizzes related to" %} {{ category.category }}{% endblock %}

{% block inner %}

<!-- ========== MAIN ========== -->
<main id="content" role="main">
    <div class="container">
      <div class="row">

        <h1>{% trans "Quizzes in the" %} <strong>{{ category.category }} </strong>{% trans "category" %}</h1>
      </div>

      <div class="row">

        {% with object_list as quizzes %}
          {% if quizzes %}
              <ul>
              {% for quiz in quizzes %}
                  <li>
              <a href="{% url 'quiz:quiz_question' quiz_name=quiz.url %}">
              {{ quiz.title }}
              </a>
            </li>
              {% endfor %}
              </ul>
          {% else %}
              <p>{% trans "There are no quizzes" %}</p>
          {% endif %}
        {% endwith %}
      </div>
  </div>
</main>
{% endblock %}
