{% extends 'app.html' %}
{% load i18n %}
{% block title %}{% trans "Tests related to" %} {{ category.category }}{% endblock %}

{% block page_title %}{% trans "Test your knowledge about" %} <span class="text-primary"><strong>{{ category.category }} </strong></span>{% endblock %}

{% block inner %}

<div class="container space-bottom-3">
    <div class="mx-auto">

    {% with object_list as quizzes %}
      {% if quizzes %}
        <table class="table table-bordered table-striped">

          <thead>
          <tr>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Category" %}</th>
            <th></th>
          </tr>
          </thead>

          <tbody>

            {% for quiz in quizzes %}

            <tr>
            <td>{{ quiz.title }}</td>
            <td>{{ quiz.category }}</td>
            <td>
            <a href="{% url 'quiz:quiz_start_page' slug=quiz.url %}">
              {% trans "View details" %}
            </a>
          </tr>

            {% endfor %}
          </tbody>

        </table>

      {% else %}
          <p>{% trans "There are no available quizzes" %}.</p>
      {% endif %}
    {% endwith %}
  </div>

{% endblock %}
