{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container space-2 space-lg-3">

    {% if token_fail %}
        <!-- Title -->
        <div class="mb-5 mb-md-7">
          <h1 class="h2 mb-0">
                {% trans "Bad Token" %}
          </h1>
        </div>
        <!-- End Title -->
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="." class="js-validate w-md-75 w-lg-50 mx-md-auto">
                {% csrf_token %}

                <!-- Title -->
                <div class="mb-5 mb-md-7">
                  <h1 class="h2 mb-0">
                        {% trans "Change Password" %}
                  </h1>
                </div>
                <!-- End Title -->

                {{ form|crispy }}

                <!-- Button -->
                <div class="row align-items-center mb-5">
                  <div class="col-sm-12 text-sm-right">
                    <button type="submit" class="btn btn-primary transition-3d-hover"  name="action">{% trans 'Change Password' %}</button>
                  </div>
                </div>
                <!-- End Button -->
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}

 </div>
{% endblock %}

