{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container space-1 space-lg-2">


<form id="signup_form" method="post" action="{% url 'account_signup' %}" class="w-md-75 w-lg-50 mx-md-auto" >
  {% csrf_token %}

  <!-- Title -->
  <div class="mb-5 mb-md-7">
    <h1 class="h2 mb-0">{% trans "Welcome to " %}{{ request.site.name }}</h1>
    <p>{% blocktrans %}Fill out the form to get started.{% endblocktrans %}</p>
  </div>
  <!-- End Title -->

  {{ form|crispy }}

  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <!-- Button -->
  <div class="row align-items-center mb-5">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <span class="font-size-1 text-muted">Already have an account?</span>
      <a class="font-size-1 font-weight-bold" href="{{ login_url }}">Login</a>
    </div>

    <div class="col-sm-6 text-sm-right">
      <button type="submit" class="btn btn-primary transition-3d-hover">{% trans "Get Started"%}</button>
    </div>
  </div>
  <!-- End Button -->
</form>
</div>

{% endblock %}

