{% extends "base.html" %}
{% load static i18n %}

{% block title %}A320 Expert | FAQ{% endblock title %}

{% block content %}

  <!-- Hero Section -->
  <div class="bg-img-hero" style="background-image: url({% static 'svg/components/abstract-shapes-12.svg' %});">
    <div class="container space-top-3 space-top-lg-4 space-bottom-2 position-relative z-index-2">
      <div class="w-md-80 w-lg-60 text-center mx-md-auto">
        <h1>FAQ</h1>
        <p>Search our FAQ for answers to anything you might ask.</p>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <!-- FAQ Topics Section -->
  <div class="container space-2 space-bottom-lg-3">
    <div class="row justify-content-lg-center">
      <div class="col-lg-8">
        <div id="basics" class="space-bottom-1">
          <h2>General</h2>

          <!-- Basics Accordion -->
          <div id="basicsAccordion">
            <!-- Card -->
            <div class="card shadow-none mb-3">
              <div class="card-header card-collapse" id="basicsHeadingOne">
                <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseOne" aria-expanded="false" aria-controls="basicsCollapseOne">
                  Why did you build A320 Expert ?

                  <span class="card-btn-toggle">
                    <span class="card-btn-toggle-default">&plus;</span>
                    <span class="card-btn-toggle-active">&minus;</span>
                  </span>
                </a>
              </div>
              <div id="basicsCollapseOne" class="collapse" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion">
                <div class="card-body px-0">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                  <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->
          </div>
          <!-- End General Accordion -->
        </div>

        <div id="account" class="space-1">
          <h2>Account &amp; settings</h2>

          <!-- Account Accordion -->
          <div id="accountAccordion">
            <!-- Card -->
            <div class="card shadow-none mb-3">
              <div class="card-header card-collapse" id="accountHeadingOne">
                <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#accountCollapseOne" aria-expanded="false" aria-controls="accountCollapseOne">
                  How do I change my password?

                  <span class="card-btn-toggle">
                    <span class="card-btn-toggle-default">&plus;</span>
                    <span class="card-btn-toggle-active">&minus;</span>
                  </span>
                </a>
              </div>
              <div id="accountCollapseOne" class="collapse" aria-labelledby="accountHeadingOne" data-parent="#accountAccordion">
                <div class="card-body px-0">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                  <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card shadow-none mb-3">
              <div class="card-header card-collapse" id="accountHeadingTwo">
                <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#accountCollapseTwo" aria-expanded="false" aria-controls="accountCollapseTwo">
                  How do I delete my account?

                  <span class="card-btn-toggle">
                    <span class="card-btn-toggle-default">&plus;</span>
                    <span class="card-btn-toggle-active">&minus;</span>
                  </span>
                </a>
              </div>
              <div id="accountCollapseTwo" class="collapse" aria-labelledby="accountHeadingTwo" data-parent="#accountAccordion">
                <div class="card-body px-0">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                  <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card shadow-none mb-3">
              <div class="card-header card-collapse" id="accountHeadingThree">
                <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#accountCollapseThree" aria-expanded="false" aria-controls="accountCollapseThree">
                  How do I change my account settings?

                  <span class="card-btn-toggle">
                    <span class="card-btn-toggle-default">&plus;</span>
                    <span class="card-btn-toggle-active">&minus;</span>
                  </span>
                </a>
              </div>
              <div id="accountCollapseThree" class="collapse" aria-labelledby="accountHeadingThree" data-parent="#accountAccordion">
                <div class="card-body px-0">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                  <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card shadow-none mb-3">
              <div class="card-header card-collapse" id="accountHeadingFour">
                <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#accountCollapseFour" aria-expanded="false" aria-controls="accountCollapseFour">
                  I forgot my password. How do I reset it?

                  <span class="card-btn-toggle">
                    <span class="card-btn-toggle-default">&plus;</span>
                    <span class="card-btn-toggle-active">&minus;</span>
                  </span>
                </a>
              </div>
              <div id="accountCollapseFour" class="collapse" aria-labelledby="accountHeadingFour" data-parent="#accountAccordion">
                <div class="card-body px-0">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                  <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->
          </div>
          <!-- End Account Accordion -->
        </div>

        <div id="subscription" class="space-1">
          <h2>Subscription and paiement</h2>

          <!-- Account Accordion -->
          <div id="accountAccordion">
            <!-- Card -->
            <div class="card shadow-none mb-3">
              <div class="card-header card-collapse" id="accountHeadingOne">
                <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#accountCollapseOne" aria-expanded="false" aria-controls="accountCollapseOne">
                  How can I change my plan?

                  <span class="card-btn-toggle">
                    <span class="card-btn-toggle-default">&plus;</span>
                    <span class="card-btn-toggle-active">&minus;</span>
                  </span>
                </a>
              </div>
              <div id="accountCollapseOne" class="collapse" aria-labelledby="accountHeadingOne" data-parent="#accountAccordion">
                <div class="card-body px-0">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                  <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card shadow-none mb-3">
              <div class="card-header card-collapse" id="accountHeadingTwo">
                <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#accountCollapseTwo" aria-expanded="false" aria-controls="accountCollapseTwo">
                  How can I cancel my subscription?

                  <span class="card-btn-toggle">
                    <span class="card-btn-toggle-default">&plus;</span>
                    <span class="card-btn-toggle-active">&minus;</span>
                  </span>
                </a>
              </div>
              <div id="accountCollapseTwo" class="collapse" aria-labelledby="accountHeadingTwo" data-parent="#accountAccordion">
                <div class="card-body px-0">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                  <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card shadow-none mb-3">
              <div class="card-header card-collapse" id="accountHeadingThree">
                <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#accountCollapseThree" aria-expanded="false" aria-controls="accountCollapseThree">
                  Do you issue refunds?

                  <span class="card-btn-toggle">
                    <span class="card-btn-toggle-default">&plus;</span>
                    <span class="card-btn-toggle-active">&minus;</span>
                  </span>
                </a>
              </div>
              <div id="accountCollapseThree" class="collapse" aria-labelledby="accountHeadingThree" data-parent="#accountAccordion">
                <div class="card-body px-0">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                  <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->

          </div>
          <!-- End Subscription Accordion -->
        </div>

        <div id="privacy" class="space-1">
          <h2>Privacy</h2>

          <!-- Privacy Accordion -->
          <div id="privacyAccordion">
            <!-- Card -->
            <div class="card shadow-none mb-3">
              <div class="card-header card-collapse" id="privacyHeadingOne">
                <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#privacyCollapseOne" aria-expanded="false" aria-controls="privacyCollapseOne">
                  What do you do with my personal data?

                  <span class="card-btn-toggle">
                    <span class="card-btn-toggle-default">&plus;</span>
                    <span class="card-btn-toggle-active">&minus;</span>
                  </span>
                </a>
              </div>
              <div id="privacyCollapseOne" class="collapse" aria-labelledby="privacyHeadingOne" data-parent="#privacyAccordion">
                <div class="card-body px-0">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                  <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card shadow-none mb-3">
              <div class="card-header card-collapse" id="privacyHeadingThree">
                <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#privacyCollapseThree" aria-expanded="false" aria-controls="privacyCollapseThree">
                  How can I access my privacy data?

                  <span class="card-btn-toggle">
                    <span class="card-btn-toggle-default">&plus;</span>
                    <span class="card-btn-toggle-active">&minus;</span>
                  </span>
                </a>
              </div>
              <div id="privacyCollapseThree" class="collapse" aria-labelledby="privacyHeadingThree" data-parent="#privacyAccordion">
                <div class="card-body px-0">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                  <p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->

          </div>
          <!-- End Privacy Accordion -->
        </div>

        <div class="row mx-n2 space-top-lg-2">
          <div class="col-md-6 px-2 mb-3 mb-lg-0">
            <!-- Icon Block -->
            <a class="card card-frame h-100" href="{% url 'contact' %}">
              <div class="card-body">
                <div class="media">
                  <figure class="w-100 max-w-6rem mr-3">
                    <img class="img-fluid" src="{% static 'svg/icons/icon-4.svg' %}" alt="SVG">
                  </figure>
                  <div class="media-body">
                    <h3>Ask a question</h3>
                    <p class="text-body">Contact our support if you need help with anything</p>
                  </div>
                </div>
              </div>
            </a>
            <!-- End Icon Block -->
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- End FAQ Topics Section -->

{% endblock %}


{% block javascript %}

<script>
  $(document).on("ready", function () {

  });
</script>

{% endblock %}
