{% extends "base.html" %}
{% load static i18n %}

{% block content %}

  <!-- Hero Section -->
  <div class="d-lg-flex position-relative">
    <div class="container d-lg-flex align-items-lg-center space-top-1 space-lg-0 min-vh-lg-100">
      <!-- Content -->
      <div class="w-md-100">
        <div class="row">
          <div class="col-lg-5">
            <div class="mb-5 mt-2">
              <h1 class="display-4 mb-3">
                Ready to fly ?

                <span class="text-primary text-highlight-warning">
                  <span class="js-text-animation"></span>
                </span>
              </h1>
              <p class="lead">Prepare with the largest set of technical questions about Airbus 320</p>
            </div>

            <a class="btn btn-primary btn-wide transition-3d-hover" href="{% url 'account_login' %}">Get Started</a>
            <a class="btn btn-link btn-wide" href="{% url 'home' %}#features">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></a>
          </div>
        </div>
      </div>
      <!-- End Content -->

      <!-- SVG Shape -->
      <figure class="col-lg-7 col-xl-6 d-none d-lg-block position-absolute top-0 right-0 pr-0 ie-main-hero">
        <svg xmlns="http://www.w3.org/2000/svg' %}" x="0px" y="0px" viewBox="0 0 1137.5 979.2">
          <path fill="#F9FBFF" d="M565.5,957.4c81.1-7.4,155.5-49.3,202.4-115.7C840,739.8,857,570,510.7,348.3C-35.5-1.5-4.2,340.3,2.7,389
            c0.7,4.7,1.2,9.5,1.7,14.2l29.3,321c14,154.2,150.6,267.8,304.9,253.8L565.5,957.4z"/>
          <defs>
            <path id="mainHeroSVG1" d="M1137.5,0H450.4l-278,279.7C22.4,430.6,24.3,675,176.8,823.5l0,0C316.9,960,537.7,968.7,688.2,843.6l449.3-373.4V0z"/>
          </defs>
          <clipPath id="mainHeroSVG2">
            <use xlink:href="#mainHeroSVG1"/>
          </clipPath>
          <g transform="matrix(1 0 0 1 0 0)" clip-path="url(#mainHeroSVG2)">
            <image width="750" height="750" xlink:href="{% static 'img/home/cabin.png' %}" transform="matrix(1.4462 0 0 1.4448 52.8755 0)"></image>
          </g>
        </svg>
      </figure>
      <!-- End SVG Shape -->
    </div>
  </div>
  <!-- End Hero Section -->

  <!-- Icon Blocks Section -->
    <div class="overflow-hidden">
      <div class="container space-2 space-top-lg-2 position-relative" id="features">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
          <span class="d-block small font-weight-bold text-cap mb-2">{% trans "Our offer" %}</span>
          <h2>{% trans "Prepare for your A320 technical interview" %}</h2>
        </div>
        <!-- End Title -->

        <div class="row">
          <div class="col-sm-4 mb-3 mb-sm-5">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="max-w-6rem w-100 mb-3">
                <img class="img-fluid" src="{% static 'svg/icons/icon-48.svg' %}" alt="svg">
              </figure>
              <h4>{% trans "Made by pilots, for pilots" %}</h4>
              <p>{% trans "Because we understand the challenge of preparing for technical interviews" %}</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-4 mb-3 mb-sm-5">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="max-w-6rem w-100 mb-3">
                <img class="img-fluid" src="{% static 'svg/icons/icon-37.svg' %}" alt="svg">
              </figure>
              <h4>{% trans "Review all operational topics" %}</h4>
              <p>Review Autoflight, Pneumatics, Fuel, Hydraulic System, Fire protection...</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-4 mb-3 mb-sm-5">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="max-w-6rem w-100 mb-3">
                <img class="img-fluid" src="{% static 'svg/icons/icon-2.svg' %}" alt="svg">
              </figure>
              <h4>Progress reports</h4>
              <p>Easily identify areas to focus on, and keep improving !</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="max-w-6rem w-100 mb-3">
                <img class="img-fluid" src="{% static 'svg/icons/icon-24.svg' %}" alt="svg">
              </figure>
              <h4>Detailed explanations</h4>
              <p>All questions are reviewed and linked to operational manuals</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-4">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="max-w-6rem w-100 mb-3">
                <img class="img-fluid" src="{% static 'svg/icons/icon-4.svg' %}" alt="svg">
              </figure>
              <h4>Discuss with other pilots</h4>
              <p>When in doubt, ask your fellow pilots for tips and explanations</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-4">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="max-w-6rem w-100 mb-3">
                <img class="img-fluid" src="{% static 'svg/icons/icon-29.svg' %}" alt="svg">
              </figure>
              <h4>New content every month</h4>
              <p>Keep learning with new quizzes available every month</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Icon Blocks Section -->

    <div id="pricingSection" class="overflow-hidden space-bottom-2">
      <!-- Hero Section -->
      <div class="bg-img-hero">
        <div class="container space-top-2 space-top-lg-4 space-bottom-2 space-bottom-lg-4">
          <div class="w-md-80 w-lg-60 text-center mx-auto mb-9">
            <h1>{% trans "Simple, transparent pricing" %}</h1>
          </div>

          <!-- Toggle Switch -->
          <div class="d-flex justify-content-center align-items-center mb-9 mb-lg-n10">
            <span class="font-size-1 text-muted">Monthly</span>
            <label class="toggle-switch mx-2" for="customSwitch">
              <input type="checkbox" class="js-toggle-switch toggle-switch-input" id="customSwitch" checked
                     data-hs-toggle-switch-options='{
                       "targetSelector": "#pricingCount1, #pricingCount2, #pricingCount3"
                     }'>
              <span class="toggle-switch-label">
                <span class="toggle-switch-indicator"></span>
              </span>
            </label>
            <div class="position-relative">
              <span class="font-size-1 text-muted">Annual</span>

              <!-- Arrow -->
              <figure class="position-absolute top-0 text-nowrap mt-n5 ml-3 ml-md-5">
                <svg class="d-block position-absolute mt-n2 ml-n4" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 99.3 57" width="48">
                  <path fill="none" stroke="#bdc5d1" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" d="M2,39.5l7.7,14.8c0.4,0.7,1.3,0.9,2,0.4L27.9,42"/>
                  <path fill="none" stroke="#bdc5d1" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" d="M11,54.3c0,0,10.3-65.2,86.3-50"/>
                </svg>
                <span class="badge badge-primary badge-pill py-sm-2 px-sm-3">Save up to 10%</span>
              </figure>
              <!-- End Arrow -->
            </div>
          </div>
          <!-- End Toggle Switch -->
        </div>
      </div>
      <!-- End Hero Section -->

      <!-- Pricing Section -->
      <div class="container mt-n10">
        <div class="w-lg-80 mx-lg-auto position-relative">
          <div class="row position-relative z-index-2 mx-n2 mb-5">
            <div class="col-sm-6 col-md-4 px-2 mb-3">
              <!-- Pricing -->
              <div class="card h-100">
                <!-- Header -->
                <div class="card-header text-center">
                  <span class="d-block h3">{% trans "Free" %}</span>
                  <span class="d-block mb-2">
                    <span class="text-dark align-top">$</span>
                    <span class="font-size-4 text-dark font-weight-bold mr-n2">
                      <span id="pricingCount1"
                             data-hs-toggle-switch-item-options='{
                               "min": 0,
                               "max": 0
                             }'>0</span>
                    </span>
                    <span class="font-size-1">/ mon</span>
                  </span>
                </div>
                <!-- End Header -->

                <!-- Body -->
                <div class="card-body">
                  <div class="media font-size-1 text-body mb-3">
                    <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                    <div class="media-body">
                      {% trans "Access to 100 questions" %}
                    </div>
                  </div>
                  <div class="media font-size-1 text-body mb-3">
                    <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                    <div class="media-body">
                      {% trans "Progress report" %}
                    </div>
                  </div>
                </div>
                <!-- End Body -->

                <div class="card-footer border-0">
                  <a class="btn btn-soft-primary btn-block transition-3d-hover" href="{% url 'account_signup' %}">{% trans "Get Started" %}</a>
                </div>
              </div>
              <!-- End Pricing -->
            </div>

            <div class="col-sm-6 col-md-4 px-2 mb-3">
              <!-- Pricing -->
              <div class="card bg-primary text-white h-100 shadow-primary-lg">
                <!-- Header -->
                <div class="card-header border-0 bg-primary text-white text-center">
                  <span class="d-block h3 text-white">Pilot</span>
                  <span class="d-block mb-2">
                    <span class="text-white align-top">$</span>
                    <span class="font-size-4 text-white font-weight-bold mr-n2">
                      <span id="pricingCount2"
                             data-hs-toggle-switch-item-options='{
                               "min": 7,
                               "max": 10
                             }'>10</span>
                    </span>
                    <span class="font-size-1">/ mon</span>
                  </span>
                </div>
                <!-- End Header -->

                <div class="border-top opacity-xs"></div>

                <!-- Body -->
                <div class="card-body">
                  <div class="media font-size-1 mb-3">
                    <i class="fas fa-check-circle mt-1 mr-2"></i>
                    <div class="media-body">
                      {% trans "Unlimited questions" %}
                    </div>
                  </div>
                  <div class="media font-size-1 mb-3">
                    <i class="fas fa-check-circle mt-1 mr-2"></i>
                    <div class="media-body">
                      {% trans "Unlimited exams" %}
                    </div>
                  </div>
                  <div class="media font-size-1 mb-3">
                    <i class="fas fa-check-circle mt-1 mr-2"></i>
                    <div class="media-body">
                      {% trans "Progress report" %}
                    </div>
                  </div>
                  <div class="media font-size-1 mb-3">
                    <i class="fas fa-check-circle mt-1 mr-2"></i>
                    <div class="media-body">
                      {% trans "Monthly updates" %}
                    </div>
                  </div>
                </div>
                <!-- End Body -->

                <div class="card-footer border-0 bg-primary text-white">
                  <a class="btn btn-light text-primary btn-block transition-3d-hover" href="{% url 'account_signup' %}">{% trans "Try for free" %}</a>
                </div>
              </div>
              <!-- End Pricing -->
            </div>

            <div class="col-sm-6 col-md-4 px-2 mb-3">
              <!-- Pricing -->
              <div class="card h-100">
                <!-- Header -->
                <div class="card-header text-center">
                  <span class="d-block h3">Enterprise</span>
                  <span class="d-block mb-2">
                    <span class="font-size-1 text-dark font-weight-bold mr-n2">
                      Contact us
                    </span>

                  </span>
                </div>
                <!-- End Header -->

                <!-- Body -->
                <div class="card-body">
                  <div class="media font-size-1 text-body mb-3">
                    <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                    <div class="media-body">
                      {% trans "Periodic evaluation" %}
                    </div>
                  </div>
                  <div class="media font-size-1 text-body mb-3">
                    <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                    <div class="media-body">
                      {% trans "Technical knowledge base" %}
                    </div>
                  </div>
                  <div class="media font-size-1 text-body mb-3">
                    <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                    <div class="media-body">
                      {% trans "Single Sign On" %}
                    </div>
                  </div>
                  <div class="media font-size-1 text-body mb-3">
                    <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                    <div class="media-body">
                      {% trans "Integrations" %}
                    </div>
                  </div>
                  <div class="media font-size-1 text-body">
                    <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                    <div class="media-body">
                      {% trans "Support" %}
                    </div>
                  </div>
                </div>
                <!-- End Body -->

                <div class="card-footer border-0">
                  <a type="button" class="btn btn-soft-primary btn-block transition-3d-hover" href="{% url 'contact' %}">{% trans "Contact us" %}</a>
                </div>
              </div>
              <!-- End Pricing -->
            </div>
          </div>

           <!-- Info -->
          <div class="position-relative z-index-2 text-center">
            <div class="d-inline-block font-size-1 border bg-white text-center rounded-pill py-3 px-4">
              Contact us for custom plans <a class="d-block d-sm-inline-block font-weight-bold ml-sm-3" href="{% url 'account_signup' %}">Let's chat<span class="fas fa-angle-right ml-1"></span></a>
            </div>
          </div>
          <!-- End Info -->

          <!-- SVG Elements -->
          <figure class="max-w-11rem w-100 position-absolute top-0 right-0">
            <div class="mt-n11 mr-n11">
              <img class="img-fluid" src="{% static 'svg/components/dots-1.svg' %}" alt="Image Description">
            </div>
          </figure>
          <figure class="max-w-13rem w-100 position-absolute bottom-0 left-0">
            <div class="mb-3 ml-n9">
              <img class="img-fluid" src="{% static 'svg/components/abstract-shapes-10.svg' %}" alt="Image Description">
            </div>
          </figure>
          <!-- End SVG Elements -->
        </div>
      </div>
      <!-- End Pricing Section -->
    </div>
    </div>

{% endblock %}
