{% extends 'app.html' %}
{% load i18n %}
{% block title %}{% trans "Practice" %}{% endblock %}

{% block page_title %}{% trans "Choose what to focus on" %}{% endblock %}

{% block inner %}
<div class="container space-bottom-3">
  <div class="col-sm-12 col-md-10 mx-auto">

    <!-- List of categories -->
    <div class="row">
      <div class="card-sm-columns card-sm-2-count card-lg-3-count">

        {% for cat in category_list %}
        <div class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5 card-hover-shadow transition-3d-hover">
          <div class="card-body">
            <div class="mb-3">
              <h2 class="h4 mb-1">{{ cat.name }}</h2>
              <small class="d-block text-body">{{ cat.description }}</small>
            </div>
            <a class="btn btn-sm btn-block btn-primary stretched-link" href="{% url 'quiz:quiz_category_list_matching' category_name=cat.name %}">{% trans "Practice" %}</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- End List -->

    <!-- Link to all quizzes -->
    <div class="text-center mb-2 mt-5">
      <h4>
        <a href="{% url 'quiz:quiz_index' %}"
                    >{% trans "Or see all available tests" %}
        </a>
      </h4>
    </div>
    <!-- End Link -->
  </div>

</div>


{% endblock %}
