{% extends "base.html" %}
{% load static i18n %}

{% block content %}

<!-- ========== MAIN ========== -->
<main id="content" role="main">

    <!-- Hero Section -->
    <div class="position-relative">
      <div class="bg-img-hero" style="background-image: url({% static 'svg/components/abstract-shapes-12.svg'%});">
        <div class="container space-top-1 space-top-lg-1 space-bottom-1 position-relative z-index-2">
          <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-1">
            <h1>
            {% block page_title %} {% endblock %}
            </h1>
            <p>{% block page_subtitle %} {% endblock %}</p>
          </div>

        </div>
      </div>

      <!-- SVG Shape -->
      <figure class="position-absolute bottom-0 right-0 left-0">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
          <polygon fill="#fff" points="0,273 1921,273 1921,0 "/>
        </svg>
      </figure>
      <!-- End SVG Shape -->
    </div>
    <!-- End Hero Section -->

    <div class="row">
    <!-- Alert -->
    {% if messages %}
      {% for message in messages %}
      <div class="row">
        <div class="col-lg-12">
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <svg aria-hidden="true" class="mb-0" width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}
    <!-- End Alert -->
  </div>

   {% block inner %} {% endblock %}

  </div>
</main>
{% endblock content %}
